---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip/index";
// import HoverTooltip from "./HoverTooltip/index";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex flex-col md:flex-row w-full h-full">
    <div class="flex flex-col justify-between h-full gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">Welcome</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Sam</b>, a software developer with strong
          focus on the user experience and blockchain - EVM, TON, SOL
        </p>
      </div>
      <div class="flex flex-wrap gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.twitter} aria-label="twitter profile" target="_blank">
          <Button aria-label="twitter profile">
            <Icon name="ri:twitter-fill" class="h-6" />
            <span class="sr-only">Twitter Profile</span>
          </Button>
        </a>
        <a href={LINKS.website} aria-label="website profile" target="_blank">
          <Button aria-label="website profile">
            <Icon name="ri:link" class="h-6" />
            <span class="sr-only">website Profile</span>
          </Button>
        </a>
        <!-- <HoverTooltip client:visible text="My Tools"> -->
        <!-- <a href={LINKS.website} aria-label="tool profile" target="_blank">
          <Button aria-label="tool site">
            <Icon name="ri:tools-line" class="h-6" />
            <span class="sr-only">Tool site</span>
          </Button>
        </a> -->
        <!-- </HoverTooltip> -->

        <a
          href={LINKS.telegramChannel}
          aria-label="telegram channel"
          target="_blank"
        >
          <Button aria-label="telegram channel">
            <Icon name="ri:telegram-fill" class="h-6" />
            <span class="sr-only">Telegram Channel</span>
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon name="ri:emotion-laugh-line" class="h-6" />
            <span class="sr-only">Easter egg button</span>
          </Button>
        </Tooltip>
      </div>
    </div>
    <div class="relative md:flex items-end max-w-[200px] w-full h-full ml-auto">
      <Image
        width="200"
        height="200"
        src="/public/selfphoto.png"
        class="w-auto max-h-[300px] rounded-full select-none opacity-50 md:opacity-100 transition-opacity duration-300 pointer-events-none object-contain"
        alt="memoji of sam"
      />
    </div>
  </div>
</Card>
